body {
    height: 100vh;
    background-color: #F0F0F0;
}
/* row color */
div.row {
    border: 1px dashed blue;
}
/* cell color */
div.row > div {
    border: 1px solid red;
}
div.tall-row {
    height: 300px;
}
.icons {
    color: #00ABA9;
}
.col-4 p{
    font-weight: bold;
}
.col-5 p{
    font-weight: bolder;
}
div .col-2{
    border-radius: 50%;
    height: 50%;

    background-color: #E6563B;
/*    I was just playing with the circles ;)*/
}

