body {
    height: 100vh;
    background-color: #F0F0F0;
}
@media (min-width: 300px) and (max-width: 768px) {
    body{
        background-color: #395908;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    body{
        background-color: #56860b;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    body{
        background-color: #83c41b;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    body{
        background-color: #bff16e;
    }
}
@media (min-width: 1400px) {
    body{
        background-color: #d4efaa;
    }
}
/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/* !*cell color*!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
div.tall-row {
    height: 300px;
}
.icons {
    color: #00ABA9;
}
.title{
    font-weight: bolder;
}
.subtitle{
    font-weight: bold;
}
.smallicons{
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #E6563B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;

}
.circleicon{
    height: 9em;
    width: 9em;
    border-radius: 50%;
    border: solid white .5em;
    background-color: #E6563B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;

}
.hr{
    display: block;
    content: "";
    height: 1px;
    border: 1px solid lightgray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}
.antonreg{
    font-family: 'Anton', sans-serif;
}
.abelreg{
    font-family: 'Abel', sans-serif;
}
