body {
    height: 100vh;
    background-color: #F0F0F0;
}

.navbar-brand {
    cursor: alias;
}

.nav-link {
    cursor: alias;
}

@media (max-width: 576px) {
    body {
        background-color: rgba(84, 116, 53, 0.93);
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    body {
        background-color: #7ca24a;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    body {
        background-color: #8fb25e;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
        background-color: #a5be82;
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body {
        background-color: #c0ceac;
    }
}

@media (min-width: 1400px) {
    body {
        background-color: #deeace;
    }
}

/*!* row color *!*/
/*div.row {*/
/*    border: 1px dashed blue;*/
/*}*/
/* !*cell color*!*/
/*div.row > div {*/
/*    border: 1px solid red;*/
/*}*/
div.tall-row {
    height: 300px;
}

.icons {
    color: #00ABA9;
}

.title {
    font-weight: bolder;
    font-size: 3em;
}

.subtitle {
    font-weight: bold;
}

.smallicons {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #E6563B;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    cursor: alias;

}

.circleicon {
    height: 9em;
    width: 9em;
    border-radius: 50%;
    border: solid white .5em;
    background-color: #E6563B;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    cursor: alias;
}

.hr {
    display: block;
    content: "";
    height: 1px;
    border: 1px solid lightgray;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

.antonreg {
    font-family: 'Anton', sans-serif;
}

.abelreg {
    font-family: 'Abel', sans-serif;
}

#topb {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Abel', sans-serif;
    font-style: italic;
    background-color: #E6563B;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid white;
    cursor: alias;


}
